/*============ fonts ============*/

@font-face {
    font-family: Kanit;
    src: url('assets/font/Kanit/Kanit-Regular.ttf');
}
/*============ navbar ============*/
ul {
  list-style-type: none;
    display: flex;
   justify-content: space-around;
   width: 400px;

}
.nav {
    height: 60px;
    background-color: #225566;
    color: white;
    position: fixed;
    top:0;
    width: 98.5%;
    font-family: Kanit;
    z-index: 11;
}
ul > li {
    align-self: center;
}
.img {
    width:25px;
    height: 25px;
    vertical-align: middle;
}
.nav-inner {
    display: flex;
    justify-content: center;
    height: 100%;
}
.portfolio, .background-image {
    background-size: cover;
    height: 560px;
    left: 0;
    right: 0;
    z-index: 1;
}
.background-image {
    background-image: url('./assets/img/computer.jpg');

}


.content {
  
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  top: 80px;
  left: 0;
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  right: 0;
  z-index: 2;
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content > h1 {
    background-color: mediumseagreen;
    width: 300px;
    text-align: center;
    margin-top: 30px;
    color: white;
    text-shadow: 0.25rem 0.25rem seagreen;
} 
.content > img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    margin-top: 30px;
    /*align-self: center;*/
}
.content > p {
    margin-top: 0;
	margin-bottom: 0;
    background-color: #225566;
    color: white;
    width: 240px;
    height: 24px;
    line-height: 24px;  
    text-align: center;
    cursor: default;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Kanit;
	font-size: 2em;
	font-weight: 300;
    cursor: default;
	margin-top: 0;
	margin-bottom: 0;
}

.about {
    background-image: url('./assets/img/inter.jpg');
    background-size: cover;
    display: block;
    color: white;
    height: 500px;
    top: 468px;
    left: -12px;
    right: -12px;
    z-index: 1;
    position: absolute;
}
.social-links > a {
    text-decoration: none;
    background-color: #FFFFFF;
    color: black;
    width:35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    padding: 5px;
    margin: 10px;
    transition: background-color 1s;
}
.social-links > a:hover {

    background-color: mediumseagreen;
    
}

.social-links {
    width: 250px;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.about > p {
    margin: auto;
    padding: 7px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
    background-color: white;
    color: black;
    opacity: 0.7;
    margin-bottom: 40px;
    border-radius: 5px;
}

.skillbar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    max-width: 580px;
    margin: auto;
}
.skillbar-right, .skillbar-left{
    width: 250px;
}
.skillbar {

	margin-bottom:15px;
	width:100%;
	background:rgba(26,2, 3, 0.4);
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	top:0;
	left:0;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	/*padding:0 30px;*/
    padding-left: 20px;
    padding-right: 10px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
    display: flex;
    justify-content: space-between;
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	/*position:absolute;*/
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
.portfolio {
    background-image: url('./assets/img/screen.jpg');
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.porj-container {
    display: flex;
    justify-content: center;
    margin: auto;
}
.porj-container img {
    max-width: 300px;
}